@using BusinessLayer.Dictionaties
@using BusinessLayer.Views
@using Entity.Models.General

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var components = (List<ComponentView>)ViewData["Components"];
    var docCrs = @Url.Action("Modal", "Document", new { id = "_CRSID_" });
    var docShip = @Url.Action("Modal", "Document", new { id = "_SHIPID_" });
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Documents</h5>
            </div>
            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <table id="footer-search" class="table table-striped table-bordered nowrap">

                        <thead>
                            <tr>
                                <th>  </th>
                                <th>Store</th>
                                <th>Part. №</th>
                                <th>Description</th>
                                <th>Serial №</th>
                                <th>State</th>
                                <th>Status</th>
                                <th>Location</th>
                                <th>Facility</th>
                                <th>Current</th>
                                <th>Should be</th>
                                <th>Qty in</th>
                                <th>Supplier</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>

                        <tbody>


                            <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog" style="display: none; z-index: 1050;" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div id="dialogContent" class="modal-content">

                                    </div>
                                </div>
                            </div>

                            @foreach (var str in components)
                            {
                                <tr>
                                    <td>
                                        @if (str.DocumentCRSId > 0)
                                        {
                                            <a href=@docCrs.Replace("_CRSID_", str.DocumentCRSId.ToString()) , class="modalLargeBtn btn waves-effect waves-dark btn-primary btn-outline-primary btn-icon" data-toggle="tooltip" data-placement="top" title="Component CRS Form">
                                                <i class="fa fa-file-text-o"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <button class="btn waves-effect waves-dark btn-disabled btn-outline-danger btn-icon disabled"><i class="fa fa-file-text-o"></i></button>
                                        }

                                        @if (str.DocumentShippingId > 0)
                                        {
                                            <a href=@docShip.Replace("_SHIPID_", str.DocumentShippingId.ToString()) , class="modalLargeBtn btn waves-effect waves-dark btn-primary btn-outline-primary btn-icon" data-toggle="tooltip" data-placement="top" title="Shipping document">
                                                <i class="fa fa-file-text-o"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <button class="btn waves-effect waves-dark btn-disabled btn-outline-danger btn-icon disabled"><i class="fa fa-file-text-o"></i></button>
                                        }
                                    </td>
                                    <td>@str.ParentStore.StoreName</td>
                                    <td>@str.PartNumber</td>
                                    <td>@str.Description</td>
                                    <td>@str.SerialNumber</td>
                                    <td>@str.State</td>
                                    <td>@str.Status</td>
                                    <td>@str.Location?.FullName</td>
                                    <td>@str.Location?.LocationsType.FullName</td>
                                    <td>1</td>
                                    <td>@(str.ShouldBeOnStock > 0 ? "Yes" : "No")</td>
                                    <td>@str.Quantity</td>
                                    <td>@str.FromSupplier.Name</td>
                                    <td>@str.Remarks</td>
                                   


                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>  </th>
                                <th>Store</th>
                                <th>Part. №</th>
                                <th>Description</th>
                                <th>Serial №</th>
                                <th>State</th>
                                <th>Status</th>
                                <th>Location</th>
                                <th>Facility</th>
                                <th>Current</th>
                                <th>Should be</th>
                                <th>Qty in</th>
                                <th>Supplier</th>
                                <th>Remarks</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

