@using BusinessLayer.Views
@using Entity.Extentions
@using Entity.Models

@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var documents = (List<DocumentView>)ViewData["Documents"];
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Individual Column Searching (Text Inputs)</h5>
                <span>The searching functionality that is provided by DataTables is very useful for quickly search through the information in the table - however the search is global, and you may wish to present controls to search on specific columns only. DataTables has the ability to apply searching to a specific column through the column().search() method (note that the name of the method is search not filter since filter() is used to apply a filter to a result set).</span>
            </div>
            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <table id="footer-search" class="table table-striped table-bordered nowrap">

                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Title</th>
                            <th>№</th>
                            <th>Id №</th>
                            <th>Description</th>
                            <th>Issue</th>
                            <th>№ Issue</th>
                            <th>Valid To</th>
                            @*<th>Remain</th>*@
                            <th>Rev.Date</th>
                            <th>№ Rev.</th>
                            <th>Valid To</th>
                            @*<th>Remain</th>*@
                            <th>Department</th>
                            <th>Responsible</th>
                            <th>Service Type</th>
                            <th>Aboard</th>
                            <th>Privy</th>
                            <th>Nomenclature</th>
                            <th>Location</th>
                            <th>Prolongation</th>
                            @*<th>Contractor</th>
                            <th>Status</th>*@
                            <th>Remark</th>
                        </tr>
                        </thead>
                    
                        <tbody>
                       
                           @foreach (var doc in documents)
                           {
                            <tr>
                                <td>@doc.DocumentType</td>
                                <td>@doc.DocumentSubType.Name</td>
                                <td>@doc.ContractNumber</td>
                                <td>@doc.IdNumber</td>
                                <td>@doc.ShortDescription</td>
                                <td>@doc.IssueDateValidFrom.ToShortDateString()</td>
                                <td>@doc.IssueNumber</td>
                                <td>@doc.IssueDateValidTo.ToShortDateString()</td>
                                @*<td>Remain</td>*@
                                <td>@doc.RevisionDateFrom.Value.ToShortDateString()</td>
                                <td>@doc.RevNumber</td>
                                <td>@doc.IssueDateValidTo.ToShortDateString()</td>
                                @*<td>@doc.Remain</td>*@
                                <td>@doc.Department.FullName</td>
                                <td>@doc.ResponsibleOccupation.FullName</td>
                                <td>@doc.ServiceTypeId</td>
                                <td>@doc.Aboard.ToYesNo()</td>
                                <td>@doc.Privy.ToYesNo()</td>
                                <td>@doc.NomenсlatureId</td>
                                <td>@doc.Location.FullName</td>
                                <td>@doc.ProlongationWay</td>
                                @*<td>@doc.</td>
                                <td>@doc.</td>*@
                                <td>@doc.Remarks</td>

                            </tr>
                           }

                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Type</th>
                            <th>Title</th>
                            <th>№</th>
                            <th>Id №</th>
                            <th>Description</th>
                            <th>Issue</th>
                            <th>№ Issue</th>
                            <th>Valid To</th>
                            @*<th>Remain</th>*@
                            <th>Rev.Date</th>
                            <th>№ Rev.</th>
                            <th>Valid To</th>
                            @*<th>Remain</th>*@
                            <th>Department</th>
                            <th>Responsible</th>
                            <th>Service Type</th>
                            <th>Aboard</th>
                            <th>Privy</th>
                            <th>Nomenclature</th>
                            <th>Location</th>
                            <th>Prolongation</th>
                            @*<th>Contractor</th>
                            <th>Status</th>*@
                            <th>Remark</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
