@using System.Collections.Generic
@using BusinessLayer
@using BusinessLayer.Dictionaties
@using BusinessLayer.Views
@using Entity.Enums
@model BusinessLayer.Views.DocumentView

@{
    var specializations = (List<SpecializationView>)ViewData["Specialization"];
    var documentSubTypes = (List<DocumentSubTypeView>)ViewData["DocumentSubTypes"];
    var suppliers = (List<SupplierView>)ViewData["Suppliers"];
    var serviceTypes = (List<ServiceTypeView>)ViewData["ServiceTypes"];
    var nomenclatures = (List<NomenclatureView>)ViewData["Nomenclatures"];
    var departments = (List<DepartmentView>)ViewData["Departments"];
    var locations = (List<LocationView>)ViewData["Locations"];
}

<form>
<div class="modal-content">

<div class="modal-header">
    <h4 class="modal-title">Edit Document</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Doc. Type:</label>
    <div class="col-sm-4">
        @Html.DropDownListFor(i => i.DocumentType.FullName, new SelectList(DocumentType.Items.ToList()), new { @class = "form-control" })
    </div>
    <label class="col-sm-2 col-form-label">Title:</label>
    <div class="col-sm-4">
        @Html.DropDownListFor(i => i.DocumentSubType.Name, new SelectList(documentSubTypes), new { @class = "form-control" })
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Doc №:</label>
    <div class="col-sm-4">
        @Html.TextBoxFor(i => i.ContractNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.ContractNumber)
    </div>
    <label class="col-sm-2 col-form-label">ID №:</label>
    <div class="col-sm-4">
        @Html.TextBoxFor(i => i.IdNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.IdNumber)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
            
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Description:</label>
            <div class="col-sm-8">
                @Html.TextAreaFor(i => i.Description, new { rows = 5, columns = 5, @class = "form-control" })
                @Html.ValidationMessageFor(i => i.Description)
            </div>
        </div>
            
    </div>
    <div class="col-sm-6">
            
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Responsible:</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(i => i.ResponsibleOccupation.FullName, new SelectList(specializations), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Contractor:</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(i => i.Supplier.Name, new SelectList(suppliers), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Prolong. way:</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(i => i.ProlongationWay, Html.GetEnumSelectList(typeof(ProlongationWay)), new { @class = "form-control" })
            </div>
        </div>
            
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Service Type:</label>
    <div class="col-sm-4">
        @Html.DropDownListFor(i => i.ServiceType.FullName, new SelectList(serviceTypes), new { @class = "form-control" })
    </div>
    <label class="col-sm-2 col-form-label">Nomenclature:</label>
    <div class="col-sm-4">
        @Html.DropDownListFor(i => i.Nomenсlature.FullName, new SelectList(nomenclatures), new { @class = "form-control" })
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Department:</label>
    <div class="col-sm-4">
        @Html.DropDownListFor(i => i.Department.FullName, new SelectList(departments), new { @class = "form-control" })
    </div>
    <label class="col-sm-2 col-form-label">Location:</label>
    <div class="col-sm-4">
        @Html.DropDownListFor(i => i.Location.FullName, new SelectList(locations), new { @class = "form-control" })
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">№ Issue:</label>
    <div class="col-sm-4">
        @Html.TextBoxFor(i => i.IssueNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.IssueNumber)
    </div>
    <label class="col-sm-2 col-form-label">Revision:</label>
    <div class="col-sm-4">
        @Html.EditorFor(i => i.RevisionDateFrom, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Issue:</label>
    <div class="col-sm-4">
        @Html.EditorFor(i => i.IssueDateValidFrom, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <label class="col-sm-2 col-form-label">Rev.№:</label>
    <div class="col-sm-4">
        @Html.TextBoxFor(i => i.RevNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.RevNumber)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="checkbox-fade fade-in-primary">
                    <label>
                        @Html.CheckBoxFor(i => i.IssueValidTo.Value)
                        <span class="cr">
                            <i class="cr-icon fa fa-check txt-primary"></i>
                        </span>
                        <span>ValidTo</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">ValidTo:</label>
            <div class="col-sm-8">
                @Html.EditorFor(i => i.IssueDateValidTo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Notify days</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(i => i.IssueNotify, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(i => i.IssueNotify)
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="checkbox-fade fade-in-primary">
                    <label>
                        @Html.CheckBoxFor(i => i.RevisionValidTo.Value)
                        <span class="cr">
                            <i class="cr-icon fa fa-check txt-primary"></i>
                        </span>
                        <span>ValidTo:</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">ValidTo:</label>
            <div class="col-sm-8">
                @Html.EditorFor(i => i.RevisionDateValidTo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Notify days</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(i => i.RevisionNotify, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(i => i.RevisionNotify)
            </div>
        </div>
    </div>
</div>
    
        <div class="row">
            <div class="col-sm-6">

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Remarks:</label>
                    <div class="col-sm-8">
                        @Html.TextAreaFor(i => i.Remarks, new { rows = 5, columns = 5, @class = "form-control" })
                        @Html.ValidationMessageFor(i => i.Remarks)
                    </div>
                </div>

            </div>
            <div class="col-sm-6">

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Status:</label>
                    <div class="col-sm-8">
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                @Html.CheckBoxFor(i => i.IsClosed.Value)
                                <span class="cr">
                                    <i class="cr-icon fa fa-check txt-primary"></i>
                                </span>
                                <span>Closed</span>
                            </label>
                        </div>
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                @Html.CheckBoxFor(i => i.Aboard)
                                <span class="cr">
                                    <i class="cr-icon fa fa-check txt-primary"></i>
                                </span>
                                <span>Aboard</span>
                            </label>
                        </div>
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                @Html.CheckBoxFor(i => i.Privy)
                                <span class="cr">
                                    <i class="cr-icon fa fa-check txt-primary"></i>
                                </span>
                                <span>Privy</span>
                            </label>
                        </div>
                    </div>
                </div>
                @*<div class="form-group row">
                    <label class="col-sm-4 col-form-label">File:</label>
                    <button class="btn waves-effect waves-dark btn-danger btn-outline-danger btn-icon"><i class="fa fa-file-pdf-o"></i></button>
                </div>*@

            </div>
        </div>

    </div>

<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Save changes</button>
</div>
</div>
</form>