@using BusinessLayer
@using WebDevelopment.Infrastructude
@model List<BusinessLayer.Views.AircraftFlightView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AircraftLayout.cshtml";
    var modalUrl = @Url.Action("ModalEditRegFlight", "AircraftFlight", new { GlobalObject.AircraftId, flightId = "_FLIGHTID_" });
    var confirmModalUrl = @Url.Action("ConfirmDelete", "AircraftFlight", new { GlobalObject.AircraftId, flightId = "_FLIGHTID_" });
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Aircraft Flight</h5>
            </div>
            <div class="card-block">
                <a href=@Url.Action("ModalAddRegFlight", "AircraftFlight", new {GlobalObject.AircraftId}) , class="modalxlBtn btn btn-primary m-b-20">
                    + Add Reg Flight
                </a>
                <a href=@Url.Action("ModalAddMaint", "AircraftFlight", new {GlobalObject.AircraftId}) , class="modalLargeBtn btn btn-primary m-b-20">
                    + Add Maint
                </a>
                <div class="dt-responsive table-responsive">
                    <table id="footer-search" class="table table-striped table-bordered nowrap">

                        <thead>
                            <tr>
                                <th> </th>
                                <th>Page №</th>
                                <th>Flight №</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Route</th>
                            </tr>
                        </thead>

                        <tbody>

                            <div class="modal fade" id="xl-Modal" tabindex="-1" role="dialog" style="display: none; z-index: 1050;" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div id="dialogxlContent" class="modal-content">

                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog" style="display: none; z-index: 1050;" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div id="dialogContent" class="modal-content">

                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="small-Modal" tabindex="-1" role="dialog" style="display: none; z-index: 1050;" aria-hidden="true">
                                <div class="modal-dialog modal-md" role="document">
                                    <div id="dialogDeleteContent" class="modal-content">

                                    </div>
                                </div>
                            </div>

                            @foreach (var airf in Model)
                            {
                                <tr>
                                    <td style="width: 80px">
                                        <a href=@modalUrl.Replace("_FLIGHTID_", airf.Id.ToString()) , class="modalxlBtn btn waves-effect waves-dark btn-primary btn-outline-primary btn-icon">
                                            <i class="fa fa-pencil"></i>
                                        </a>

                                        <a href=@confirmModalUrl.Replace("_FLIGHTID_", airf.Id.ToString()) , class="modalConfirmDeleteBtn btn waves-effect waves-dark btn-danger btn-outline-danger btn-icon">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                    <td>@airf.PageNo </td>
                                    <td>@airf.FlightNumber?.FlightNumber</td>
                                    <td><span style="display: none">@airf.FlightDate.ToUniversalFilterString()</span>@airf.FlightDate.ToUniversalString()</td>
                                    <td>@airf.Times</td>
                                    <td>@airf.Route</td>
                                </tr>
                            }



                        </tbody>
                        <tfoot>
                            <tr>
                                <th> </th>
                                <th>Page №</th>
                                <th>Flight №</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Route</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

