@using Kendo.Mvc.UI
@using WebDevelopment.Helper
@using WebDevelopment.Infrastructude
@model List<BusinessLayer.Views.AircraftFlightView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AircraftLayout.cshtml";
}
@(Html.Kendo().Window()
      .Name("RegFlight")
      .Title("Add Reg Flight")
      .Modal(true)
      .Visible(false)
      .Height(750)
      .Width(1250)
      .Draggable()
      .Animation(animation =>
      {
          animation.Open(open =>
          {
              open.Expand(ExpandDirection.Vertical);
              open.Fade(FadeDirection.In);
          });

          animation.Close(close =>
          {
              close.Reverse(true);
              close.Expand(ExpandDirection.Vertical);
              close.Fade(FadeDirection.In);
          });
      })
      )

@(Html.Kendo().Window()
      .Name("Maint")
      .Title("Add Maint")
      .Modal(true)
      .Visible(false)
      .Height(610)
      .Width(750)
      .Draggable()
      .Animation(animation =>
      {
          animation.Open(open =>
          {
              open.Expand(ExpandDirection.Vertical);
              open.Fade(FadeDirection.In);
          });

          animation.Close(close =>
          {
              close.Reverse(true);
              close.Expand(ExpandDirection.Vertical);
              close.Fade(FadeDirection.In);
          });
      })
      )

<div class="card">

    <div class="card-header">
        <h5>Aircraft Flight</h5>
    </div>
    <div class="card-block">
        <button onclick="OpenModal('@Url.Action("ModalAddRegFlight","AircraftFlight",new {GlobalObject.AircraftId},Context.Request.Scheme)', 'RegFlight')" class="btn btn-primary m-b-5 m-t-5">
            + Add Reg Flight
        </button>
        <button onclick="OpenModal('@Url.Action("ModalAddMaint","AircraftFlight",new {GlobalObject.AircraftId},Context.Request.Scheme)', 'Maint')" class="btn btn-primary m-b-5 m-t-5">
            + Add Maint
        </button>
        @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
              {
                  columns.Bound(p => p.Id)
                      .ClientTemplate(
                          KendoHelper.ButtonModal(Url.Action("ModalEditRegFlight", "AircraftFlight", new { GlobalObject.AircraftId }, Context.Request.Scheme), "flightId", "Id", ButtonType.Edit,"RegFlight")
                          //KendoHelper.ButtonModal(Url.Action("ConfirmDelete", "AircraftFlight", new { GlobalObject.AircraftId }, Context.Request.Scheme), "flightId", "Id", ButtonType.Delete, "123")
                      ).Width(90).Title(" ").Sortable(false).Groupable(false);
                  columns.Bound(p => p.PageNo).Title("Page №").Width(120);
                  columns.Bound(p => p.FlightNumber.FlightNumber).Title("Flight №").Width(120);
                  columns.Bound(p => p.FlightDate).Title("Date").ClientTemplate("#= kendo.toString(FlightDate, \"dd.MM.yyyy\") #").Width(120);
                  columns.Bound(p => p.Times).Title("Time").Width(120);
                  columns.Bound(p => p.Route).Title("Route").Width(120);
              })
              .ToolBar(tools => tools.Excel())
              .Excel(excel => excel
                  .FileName("Aircraft Flight.xlsx")
                  .Filterable(true)
                  .AllPages(true)
                  .ProxyURL(Url.Action("ExcelExport", "Excel"))
              )
              .Scrollable(scrollable => scrollable.Height(630))
              .Reorderable(reorderable => reorderable.Columns(true))
              .Resizable(resizable => resizable.Columns(true))
              .Pageable()
              .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
              .Sortable()
              .Groupable()
              .ColumnMenu()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(250)
                  .ServerOperation(false)
                  .Read(read => read.Action("", ""))
              ))
    </div>
</div>

