@using BusinessLayer
@using BusinessLayer.Views
@using Kendo.Mvc.UI
@model BusinessLayer.Views.AircraftFlightView
@{
    var flightNum = (List<FlightNumView>)ViewData["FlightNums"];
    var stations = (List<AirportCodeView>)ViewData["AirportCodes"];
}

@using (Html.BeginForm("ModalAddRegFlight", "AircraftFlight", FormMethod.Post))
{
    @Html.HiddenFor(i => i.Id)
    ;
    @Html.HiddenFor(i => i.IsDeleted)
    ;


    <h5>Flight General Information</h5>
    <div class="form-group row">
        <label class="col-sm-12 col-lg-3 col-form-label">FL./Maint.</label>
        <div class="col-sm-12 col-lg-9">
            @Html.Kendo().DropDownListFor(i => i.AtlbRecordType).BindTo(Enum.GetNames(typeof(AtlbRecordType)))
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-12 col-lg-3 col-form-label">Date</label>
        <div class="col-sm-12 col-lg-9">
            @Html.Kendo().DateTimePickerFor(i => i.FlightDate)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-12 col-lg-3 col-form-label">From</label>
        <div class="col-sm-12 col-lg-9">
            @Html.Kendo().DropDownListFor(i => i.StationFroms.FullName).BindTo(new SelectList(stations))
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-12 col-lg-3 col-form-label">To</label>
        <div class="col-sm-12 col-lg-9">
            @Html.Kendo().DropDownListFor(i => i.StationTos.FullName).BindTo(new SelectList(stations))
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-12 col-lg-3 col-form-label">Take-off-LDG</label>
        <div class="col-sm-12 col-lg-3">
            @Html.Kendo().TimePickerFor(i => i.TimespanTakeOffTime)
            @Html.ValidationMessageFor(i => i.TimespanTakeOffTime)
        </div>
        <div class="col-sm-12 col-lg-3">
            @Html.Kendo().TimePickerFor(i => i.TimespanLDGTime)
            @Html.ValidationMessageFor(i => i.TimespanLDGTime)
        </div>
        <label class="col-sm-12 col-lg-1 col-form-label">Flight</label>
        <div class="col-sm-12 col-lg-2">
            @Html.Kendo().TextBoxFor(i => i.FlightTime)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-12 col-lg-3 col-form-label">Page №</label>
        <div class="col-sm-12 col-lg-9">
            @Html.Kendo().TextBoxFor(i => i.PageNo)
            @Html.ValidationMessageFor(i => i.PageNo)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-12 col-lg-3 col-form-label">Flight №</label>
        <div class="col-sm-12 col-lg-9">
            @Html.Kendo().DropDownListFor(i => i.FlightNumber.FlightNumber).BindTo(new SelectList(flightNum))
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Check complete</label>
        <div class="col-sm-9">
            <label>
                @Html.Kendo().CheckBoxFor(i => i.Correct).Name("PFC").Label("PFC")
            </label>
            <label>
                @Html.Kendo().CheckBoxFor(i => i.Correct).Name("TC").Label("TC")
            </label>
            <label>
                @Html.Kendo().CheckBoxFor(i => i.Correct).Name("DY").Label("DY")
            </label>
            <label>
                @Html.Kendo().CheckBoxFor(i => i.Correct).Name("ADD").Label("ADD")
            </label>
            <label>
                @Html.Kendo().CheckBoxFor(i => i.Correct).Name("RC").Label("RC")
            </label>
            <label>
                @Html.Kendo().CheckBoxFor(i => i.Correct).Name("SC").Label("SC")
            </label>
            <label>
                @Html.Kendo().CheckBoxFor(i => i.Correct).Name("A").Label("A")
            </label>
            <label>
                @Html.Kendo().CheckBoxFor(i => i.Correct).Name("C").Label("C")
            </label>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" onclick="CloseModal('Maint')" class="btn btn-default waves-effect">Close</button>
        <button type="submit" class="btn btn-primary waves-effect waves-light ">Save changes</button>
    </div>

}