@using BusinessLayer
@using BusinessLayer.Dictionaties
@using BusinessLayer.Views
@using Entity.Models.Dictionaries
@model BusinessLayer.Views.AircraftFlightView

@{
    var flightNum = (List<FlightNumView>)ViewData["FlightNums"];
    var stations = (List<AirportCodeView>)ViewData["AirportCodes"];
    var reasons = (List<ReasonView>)ViewData["Reasons"];
    var specs = (List<SpecialistView>)ViewData["Specialists"];
    var ataChapter = (List<ATAChapterView>)ViewData["AtaChapter"];

    var q = new List<SelectListItem>();
    foreach (var station in stations)
    {
        q.Add(new SelectListItem(station.FullName, station.Id.ToString()));
    }

    var ata = new List<SelectListItem>();
    foreach (var a in ataChapter)
    {
        ata.Add(new SelectListItem(a.ToString(), a.Id.ToString()));
    }

    var s = new List<SelectListItem>();
    foreach (var spec in specs)
    {
        s.Add(new SelectListItem(spec.ToString(), spec.Id.ToString()));
    }

    var col = "#collapse";
    var colId = "collapse";
}

@using (Html.BeginForm("Create", "AircraftFlight", FormMethod.Post))
{
    @Html.HiddenFor(i => i.Id);
    @Html.HiddenFor(i => i.IsDeleted);

    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">Add Reg Flight</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#FlGen" role="tab">Flight General</a>
                
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#discrepancies" role="tab">Disсrepancies</a>
                
                </li>
            
            </ul>
        <div class="tab-content modal-body">

        <div class="tab-pane active" id="FlGen" role="tabpanel">
            <div class="row">
                <div class="z-depth-top-4 p-t-30 col-sm-4">
                    <h5>Flight General Information</h5>
                    <div class="form-group row">
                        <label class="col-sm-12 col-lg-5 col-form-label">FL./Maint.</label>
                        <div class="col-sm-12 col-lg-7">
                            @Html.DropDownListFor(i => i.AtlbRecordType, Html.GetEnumSelectList(typeof(AtlbRecordType)), new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-lg-5 col-form-label">Aircraft Code</label>
                        <div class="col-sm-12 col-lg-7">
                            @Html.DropDownListFor(i => i.FlightAircraftCode, Html.GetEnumSelectList(typeof(FlightAircraftCode)), new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-lg-5 col-form-label">Page №</label>
                        <div class="col-sm-12 col-lg-7">
                            @Html.TextBoxFor(i => i.PageNo, new {@class = "form-control"})
                            @Html.ValidationMessageFor(i => i.PageNo)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-lg-5 col-form-label">Flight Type</label>
                        <div class="col-sm-12 col-lg-7">
                            @Html.DropDownListFor(i => i.FlightType.FullName, new SelectList(FlightType.Items.ToList()), new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-lg-5 col-form-label">Flight Cat.</label>
                        <div class="col-sm-12 col-lg-7">
                            @Html.DropDownListFor(i => i.FlightCategory, Html.GetEnumSelectList(typeof(FlightCategory)), new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-lg-5 col-form-label">Flight №</label>
                        <div class="col-sm-12 col-lg-7">
                            @Html.DropDownListFor(i => i.FlightNumber.FlightNumber, new SelectList(flightNum, Model.FlightNumber.FlightNumber), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-lg-5 col-form-label">Date</label>
                        <div class="col-sm-12 col-lg-7">
                            @Html.EditorFor(i => i.FlightDate, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-lg-5 col-form-label">From</label>
                        <div class="col-sm-12 col-lg-7">
                            @Html.DropDownListFor(i => i.StationFromId, q, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-lg-5 col-form-label">To</label>
                        <div class="col-sm-12 col-lg-7">
                            @Html.DropDownListFor(i => i.StationToId, q, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="z-depth-top-4 p-t-30 col-sm-8">
                    <h5>Block / Airborne Time</h5>
                    <div class="form-group row">
                        <label class="col-sm-12 col-lg-3 col-form-label">Out - In</label>
                        <div class="col-sm-12 col-lg-3">
                            @Html.TextBoxFor(i => i.TimespanOutTime, new {@class = "form-control", id = "Start", type = "time", onchange= "BetweenTime()" })
                            @Html.ValidationMessageFor(i => i.TimespanOutTime)
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.TextBoxFor(i => i.TimespanInTime, new {@class = "form-control", id = "End", type = "time", onchange = "BetweenTime()" })
                            @Html.ValidationMessageFor(i => i.TimespanInTime)
                        </div>
                        <label class="col-sm-12 col-lg-1 col-form-label">Block</label>
                        <div class="col-sm-12 col-lg-2">
                            @Html.TextBoxFor(i => i.BlockTime, new {@class = "form-control", id = "Res", @readonly = "readonly"})
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-12 col-lg-3 col-form-label">Take-off-LDG</label>
                        <div class="col-sm-12 col-lg-3">
                            @Html.TextBoxFor(i => i.TimespanTakeOffTime, new {@class = "form-control", id = "Start1", type = "time", onchange = "BetweenTime()" })
                            @Html.ValidationMessageFor(i => i.TimespanTakeOffTime)
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.TextBoxFor(i => i.TimespanLDGTime, new {@class = "form-control", id = "End1", type = "time", onchange = "BetweenTime()" })
                            @Html.ValidationMessageFor(i => i.TimespanLDGTime)
                        </div>
                        <label class="col-sm-12 col-lg-1 col-form-label">Flight</label>
                        <div class="col-sm-12 col-lg-2">
                            @Html.TextBoxFor(i => i.FlightTime, new {@class = "form-control", id = "Res1", @readonly = "readonly"})
                        </div>
                    </div>

                    <div class="form-group row justify-content-end">
                        <label class="col-sm-12 col-lg-2 col-form-label">Night</label>
                        <div class="col-sm-12 col-lg-3">
                            @Html.TextBoxFor(i => i.TimeSpanNightTime, new {@class = "form-control", type = "time"})
                            @Html.ValidationMessageFor(i => i.TimeSpanNightTime)
                        </div>
                        <label class="col-sm-12 col-lg-1 col-form-label">Day</label>
                        <div class="col-sm-12 col-lg-2">
                            @Html.TextBoxFor(i => i.FlightTime, new {@class = "form-control", @readonly = "readonly"})
                        </div>
                    </div>
                            
                </div>
            </div>
        </div>
                
            

        <div class="tab-pane" id="discrepancies" role="tabpanel">
                
            <div class="card-block accordion-block color-accordion-block">
                <div id="accordion" role="tablist" aria-multiselectable="true">
                    @for (int y = 0; y < Model.Discrepancy.Count; y++)
                    {
                        <div class="accordion-panel">
                            <div class="accordion-heading" role="tab" id="headingOne">
                                <h3 class="card-title accordion-title">
                                    <a class="accordion-msg waves-effect waves-dark" data-toggle="collapse" data-parent="#accordion" href="@col@y" aria-expanded="true" aria-controls="collapseOne">
                                        Discrepancy @y
                                    </a>
                                </h3>
                            </div>
                            <div id="@colId@y" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="accordion-content accordion-desc">
                                    <div class="form-group row">
                                        @*<label class="col-sm-12 col-lg-1 col-form-label">Discrepancy:</label>
                        <div class="col-sm-12 col-lg-1">
                            @Html.TextBoxFor(i => i.ATLBID, new { @class = "form-control", type = "number" })
                            @Html.ValidationMessageFor(i => i.ATLBID)
                        </div>*@
                                        <label class="col-sm-12 col-lg-2 col-form-label">Filled by:</label>
                                        <div class="col-sm-12 col-lg-4 col-form-label">
                                            <div class="form-radio row">
                                                <div class="radio radio-inline"> 
                                                    <label>
                                                        @Html.RadioButtonFor(i => i.Correct, "", new { @name = "1"})
                                                        <i class="helper"> </i><span>Crew</span>
                                                    </label>
                                                </div>
                                                <div class="radio radio-inline">
                                                    <label>
                                                        @Html.RadioButtonFor(i => i.Correct, "", new { @name = "1" })
                                                        <i class="helper"> </i><span>Maintenance Staff</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="col-sm-12 col-lg-3 col-form-label">Corrective Action Add №</label>
                                        <div class="col-sm-12 col-lg-2">
                                            @Html.TextBoxFor(i => i.Discrepancy[y].CorrectiveAction.ADDNo, new {@class = "form-control"})
                                            @Html.ValidationMessageFor(i => i.Discrepancy[y].CorrectiveAction.ADDNo)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @*<label class="col-sm-12 col-lg-1 col-form-label">Deffered</label>
        <div class="col-sm-12 col-lg-2">
            @Html.DropDownListFor(i => i.StationFromId, new SelectList(colId), new {@class = "form-control"})
        </div>*@
                                        <label class="col-sm-12 col-lg-1 col-form-label">ATA</label>
                                        <div class="col-sm-12 col-lg-3">
                                            @Html.DropDownListFor(i => i.Discrepancy[y].ATAChapterID.Value, ata , new { @class = "form-control" })
                                        </div>
                                        <label class="col-sm-12 col-lg-1 col-form-label">Comp:</label>
                                        <div class="col-sm-12 col-lg-3">
                                            @Html.DropDownListFor(i => i.ATLBID, new SelectList(""), new { @class = "form-control" })
                                        </div>
                                        <label class="col-sm-12 col-lg-1 col-form-label">Status:</label>
                                        <div class="col-sm-12 col-lg-3 col-form-label">
                                            <div class="form-radio row">
                                                <div class="radio radio-inline">
                                                    <label>
                                                        @Html.RadioButtonFor(i => i.Discrepancy[y].Status, "", new { @Name = "2" })
                                                        <i class="helper"> </i><span>Open</span>
                                                    </label>
                                                </div>

                                                <div class="radio radio-inline">
                                                    <label>
                                                        @Html.RadioButtonFor(i => i.IsDeleted, "", new { @Name = "2" })
                                                        <i class="helper"> </i><span>Publish</span>
                                                    </label>
                                                </div>

                                                <div class="radio radio-inline">
                                                    <label>
                                                        @Html.RadioButtonFor(i => i.IsDeleted, "", new { @Name = "2" })
                                                        <i class="helper"> </i><span>Close</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="form-group row">
                                        <label class="col-form-label m-l-15" style="width: 72px">Use Templ</label>
                                        <div class="col-sm-12 col-lg-2">
                                            @Html.DropDownListFor(i => i.ATLBID, new SelectList(colId), new {@class = "form-control"})
                                        </div>
                                        <label class="col-sm-12 col-lg-1 col-form-label">WP:</label>
                                        <div class="col-sm-12 col-lg-3">
                                            @Html.DropDownListFor(i => i.ATLBID, new SelectList(colId), new {@class = "form-control"})
                                        </div>
                                        
                                    </div>*@
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="col-sm-12 col-form-label" style="text-align: center">Description:</label>
                                            @Html.TextAreaFor(i => i.Discrepancy[y].Description, new {rows = 3, columns = 5, @class = "form-control"})
                                            @Html.ValidationMessageFor(i => i.Discrepancy[y].Description)
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label class="col-sm-12 col-form-label" style="text-align: center">Corrective Action:</label>
                                            @Html.TextAreaFor(i => i.Discrepancy[y].CorrectiveAction.Description, new {rows = 3, columns = 5, @class = "form-control"})
                                            @Html.ValidationMessageFor(i => i.Discrepancy[y].CorrectiveAction.Description)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-sm-6">
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-form-label p-b-30" style="text-align: center">Component Change</label>
                                                <label class="col-sm-12 col-lg-2 col-form-label">P/N On</label>
                                                <div class="col-sm-12 col-lg-4">
                                                    @Html.TextBoxFor(i => i.Discrepancy[y].CorrectiveAction.PartNumberOn, new {@class = "form-control"})
                                                    @Html.ValidationMessageFor(i => i.Discrepancy[y].CorrectiveAction.PartNumberOn)
                                                </div>
                                                <label class="col-sm-12 col-lg-2 col-form-label">P/N Off</label>
                                                <div class="col-sm-12 col-lg-4">
                                                    @Html.TextBoxFor(i => i.Discrepancy[y].CorrectiveAction.PartNumberOff, new {@class = "form-control"})
                                                    @Html.ValidationMessageFor(i => i.Discrepancy[y].CorrectiveAction.PartNumberOff)
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-12 col-lg-2 col-form-label">S/N On</label>
                                                <div class="col-sm-12 col-lg-4">
                                                    @Html.TextBoxFor(i => i.Discrepancy[y].CorrectiveAction.SerialNumberOn, new {@class = "form-control"})
                                                    @Html.ValidationMessageFor(i => i.Discrepancy[y].CorrectiveAction.SerialNumberOn)
                                                </div>
                                                <label class="col-sm-12 col-lg-2 col-form-label">S/N Off</label>
                                                <div class="col-sm-12 col-lg-4">
                                                    @Html.TextBoxFor(i => i.Discrepancy[y].CorrectiveAction.SerialNumberOff, new {@class = "form-control"})
                                                    @Html.ValidationMessageFor(i => i.Discrepancy[y].CorrectiveAction.SerialNumberOff)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-sm-6">
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-lg-2 col-form-label">MRO</label>
                                                <div class="col-sm-2">
                                                    @Html.TextBoxFor(i => i.Discrepancy[y].CorrectiveAction.CertificateOfReleaseToService.Station, new {@class = "form-control"})
                                                    @Html.ValidationMessageFor(i => i.Discrepancy[y].CorrectiveAction.CertificateOfReleaseToService.Station)
                                                </div>
                                                <label class="col-sm-12 col-lg-2 col-form-label">Date</label>
                                                <div class="col-sm-12 col-lg-6">
                                                    @Html.EditorFor(i => i.FlightDate, new {htmlAttributes = new {@class = "form-control"}})
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-lg-4 col-form-label">Auth B1</label>
                                                <div class="col-sm-12 col-lg-8">
                                                    @Html.DropDownListFor(i => i.Discrepancy[y].CorrectiveAction.CertificateOfReleaseToService.AuthorizationB1Id, s, new {@class = "form-control"})
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-lg-4 col-form-label">Auth B2</label>
                                                <div class="col-sm-12 col-lg-8">
                                                    @Html.DropDownListFor(i => i.Discrepancy[y].CorrectiveAction.CertificateOfReleaseToService.AuthorizationB2Id, s, new {@class = "form-control"})
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


        </div>





            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary waves-effect waves-light ">Save changes</button>
            </div>

        </div>
    </div>

}
