@using BusinessLayer.Views
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-xl-4 col-md-6">
        <div class="card prod-p-card card-red">
            <div class="card-body">
                <div class="row align-items-center m-b-30">
                    <div class="col">
                        <h6 class="m-b-5 text-white">Total Aircrafts</h6>
                        <h3 class="m-b-0 f-w-700 text-white">@ViewData["AircraftsCount"]</h3>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-plane text-c-red f-18"></i>
                    </div>
                </div>
                <p class="m-b-0 text-white"><span class="label label-danger m-r-10">@ViewData["AircraftLast"]</span></p>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card prod-p-card card-blue">
            <div class="card-body">
                <div class="row align-items-center m-b-30">
                    <div class="col">
                        <h6 class="m-b-5 text-white">Total Stores</h6>
                        <h3 class="m-b-0 f-w-700 text-white">@ViewData["StoreCount"]</h3>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-database text-c-blue f-18"></i>
                    </div>
                </div>
                <p class="m-b-0 text-white"><span class="label label-primary m-r-10">@ViewData["StoreLast"]</span></p>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card prod-p-card card-green">
            <div class="card-body">
                <div class="row align-items-center m-b-30">
                    <div class="col">
                        <h6 class="m-b-5 text-white">Total Documents</h6>
                        <h3 class="m-b-0 f-w-700 text-white">@ViewData["DocumentCount"]</h3>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-file text-c-green f-18"></i>
                    </div>
                </div>
                <p class="m-b-0 text-white"><span class="label label-success m-r-10">@ViewData["DocumentLast"]</span></p>
            </div>
        </div>
    </div>


    <div class="col-xl-4 col-md-12">
        <div class="card latest-update-card">
            <div class="card-header">
                <h5>Activity</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                        <li><i class="feather icon-refresh-cw reload-card"></i></li>
                        <li><i class="feather icon-trash close-card"></i></li>
                        <li><i class="feather icon-chevron-left open-card-option"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="scroll-widget">
                    <div class="latest-update-box">
                        <div class="row p-t-20 p-b-30">
                            <div class="col-auto text-right update-meta p-r-0">
                                <i class="feather icon-check f-w-600 bg-c-green update-icon"></i>
                            </div>
                            <div class="col p-l-5">
                                <a href="#!"><h6>Your Manager Posted.</h6></a>
                                <p class="text-muted m-b-0">Jonny michel</p>
                            </div>
                        </div>
                        <div class="row p-b-30">
                            <div class="col-auto text-right update-meta p-r-0">
                                <i class="feather icon-briefcase bg-c-red update-icon"></i>
                            </div>
                            <div class="col p-l-5">
                                <a href="#!"><h6>You have 3 pending Task.</h6></a>
                                <p class="text-muted m-b-0">Hemilton</p>
                            </div>
                        </div>
                        <div class="row p-b-30">
                            <div class="col-auto text-right update-meta p-r-0">
                                <i class="feather icon-check f-w-600 bg-c-green update-icon"></i>
                            </div>
                            <div class="col p-l-5">
                                <a href="#!"><h6>New Order Received.</h6></a>
                                <p class="text-muted m-b-0">Hemilton</p>
                            </div>
                        </div>
                        <div class="row p-b-30">
                            <div class="col-auto text-right update-meta p-r-0">
                                <i class="feather icon-briefcase bg-c-red update-icon"></i>
                            </div>
                            <div class="col p-l-5">
                                <a href="#!"><h6>Your Manager Posted.</h6></a>
                                <p class="text-muted m-b-0">Jonny michel</p>
                            </div>
                        </div>
                        <div class="row p-b-30">
                            <div class="col-auto text-right update-meta p-r-0">
                                <i class="feather icon-briefcase bg-c-red update-icon"></i>
                            </div>
                            <div class="col p-l-5">
                                <a href="#!"><h6>You have 3 pending Task.</h6></a>
                                <p class="text-muted m-b-0">Hemilton</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto text-right update-meta p-r-0">
                                <i class="feather icon-check f-w-600 bg-c-green update-icon"></i>
                            </div>
                            <div class="col p-l-5">
                                <a href="#!"><h6>New Order Received.</h6></a>
                                <p class="text-muted m-b-0">Hemilton</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card latest-update-card">
            <div class="card-header">
                <h5>What’s New</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                        <li><i class="feather icon-refresh-cw reload-card"></i></li>
                        <li><i class="feather icon-trash close-card"></i></li>
                        <li><i class="feather icon-chevron-left open-card-option"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="scroll-widget">
                    <div class="latest-update-box">
                        <div class="row p-t-20 p-b-30">
                            <div class="col-auto text-right update-meta p-r-0">
                                <i class="feather icon-check f-w-600 bg-c-green update-icon"></i>
                            </div>
                            <div class="col p-l-5">
                                <a href="#!"><h6>Your Manager Posted.</h6></a>
                                <p class="text-muted m-b-0">Jonny michel</p>
                            </div>
                        </div>
                        <div class="row p-b-30">
                            <div class="col-auto text-right update-meta p-r-0">
                                <i class="feather icon-briefcase bg-c-red update-icon"></i>
                            </div>
                            <div class="col p-l-5">
                                <a href="#!"><h6>You have 3 pending Task.</h6></a>
                                <p class="text-muted m-b-0">Hemilton</p>
                            </div>
                        </div>
                        <div class="row p-b-30">
                            <div class="col-auto text-right update-meta p-r-0">
                                <i class="feather icon-check f-w-600 bg-c-green update-icon"></i>
                            </div>
                            <div class="col p-l-5">
                                <a href="#!"><h6>New Order Received.</h6></a>
                                <p class="text-muted m-b-0">Hemilton</p>
                            </div>
                        </div>
                        <div class="row p-b-30">
                            <div class="col-auto text-right update-meta p-r-0">
                                <i class="feather icon-briefcase bg-c-red update-icon"></i>
                            </div>
                            <div class="col p-l-5">
                                <a href="#!"><h6>Your Manager Posted.</h6></a>
                                <p class="text-muted m-b-0">Jonny michel</p>
                            </div>
                        </div>
                        <div class="row p-b-30">
                            <div class="col-auto text-right update-meta p-r-0">
                                <i class="feather icon-briefcase bg-c-red update-icon"></i>
                            </div>
                            <div class="col p-l-5">
                                <a href="#!"><h6>You have 3 pending Task.</h6></a>
                                <p class="text-muted m-b-0">Hemilton</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto text-right update-meta p-r-0">
                                <i class="feather icon-check f-w-600 bg-c-green update-icon"></i>
                            </div>
                            <div class="col p-l-5">
                                <a href="#!"><h6>New Order Received.</h6></a>
                                <p class="text-muted m-b-0">Hemilton</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card latest-update-card">
            <div class="card-header">
                <h5>Latest Activity</h5>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                        <li><i class="feather icon-refresh-cw reload-card"></i></li>
                        <li><i class="feather icon-trash close-card"></i></li>
                        <li><i class="feather icon-chevron-left open-card-option"></i></li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <div class="scroll-widget">
                    <div class="latest-update-box">
                        @foreach (var document in (List<DocumentView>)@ViewData["Documents"])
                        {
                            <div class="row p-t-20 p-b-30">
                                <div class="col-auto text-right update-meta p-r-0">
                                    <i class="b-success update-icon ring"></i>
                                </div>
                                <div class="col p-l-5">
                                    <a href="#!"><h6>@document.Description</h6></a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>