@using BusinessLayer
@using WebDevelopment.Helper
@using WebDevelopment.Infrastructude
@model List<BusinessLayer.Views.ATLBView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AircraftLayout.cshtml";
    var modalUrl = @Url.Action("ModalEdit", "ATLB", new {GlobalObject.AircraftId, atlbId = "_ATLBID_" });
    var aircraftFlightUrl = @Url.Action("Index", "AircraftFlight", new {GlobalObject.AircraftId, atlbId = "_AIRFLIGHTID_" });
    var confirmModalUrl = @Url.Action("ConfirmDelete", "ATLB", new { GlobalObject.AircraftId, atlbId = "_ATLBID_" });
 }


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>ATLBs</h5>
            </div>
            <div class="card-block">
               <a href=@Url.Action("ModalCreate", "ATLB", new {GlobalObject.AircraftId}) , class="modalLargeBtn btn btn-primary m-b-20">
                    + Add New
                </a>
                <div class="dt-responsive table-responsive">
                    <table id="footer-search" class="table table-striped table-bordered nowrap">

                        <thead>
                            <tr>
                                <th> </th>
                                <th>ATLB №</th>
                                <th>Pages</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody>


                            <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog" style="display: none; z-index: 1050;" aria-hidden="true">
                                <div class="modal-dialog modal-md" role="document">
                                    <div id="dialogContent" class="modal-content">

                                    </div>
                                </div>
                            </div>
                        <div class="modal fade" id="small-Modal" tabindex="-1" role="dialog" style="display: none; z-index: 1050;" aria-hidden="true">
                            <div class="modal-dialog modal-md" role="document">
                                <div id="dialogDeleteContent" class="modal-content">

                                </div>
                            </div>
                        </div>
                            @foreach (var atlb in Model)
                            {
                                <tr>
                                    <td style="width: 80px">
                                        <a href=@aircraftFlightUrl.Replace("_AIRFLIGHTID_", atlb.Id.ToString()) , class="btn waves-effect waves-dark btn-success btn-outline-success btn-icon">
                                            <i class="fa fa-folder-open-o"></i>
                                        </a>
                                        <a href=@modalUrl.Replace("_ATLBID_", atlb.Id.ToString()) , class="modalLargeBtn btn waves-effect waves-dark btn-primary btn-outline-primary btn-icon">
                                            <i class="fa fa-pencil"></i>
                                        </a>

                                        <a href=@confirmModalUrl.Replace("_ATLBID_", atlb.Id.ToString()) , class="modalConfirmDeleteBtn btn waves-effect waves-dark btn-danger btn-outline-danger btn-icon">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                    <td>@atlb.ATLBNo</td>
                                    <td>@atlb.Pages</td>
                                    <td><span style="display: none">@atlb.DateFrom.ToUniversalFilterString()</span>@atlb.Dates</td>
                                    <td>@atlb.AtlbStatus.ToString()</td>
                                </tr>
                            }



                        </tbody>
                        <tfoot>
                            <tr>
                                <th> </th>
                                <th>ATLB №</th>
                                <th>Pages</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

