@using BusinessLayer
@model BusinessLayer.Views.ATLBView

@using (Html.BeginForm("Create", "ATLB", FormMethod.Post))
{
    @Html.HiddenFor(i => i.Id);
    @Html.HiddenFor(i => i.IsDeleted);

    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">ATLB Adding Form</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body">
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ATLB №:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(i => i.ATLBNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => i.ATLBNo)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Start Page №:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(i => i.StartPageNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => i.StartPageNo)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Count flight on page:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(i => i.PageFlightCount, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => i.PageFlightCount)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Opening date:</label>
                <div class="col-sm-10">
                    @*<input type="date" class="form-control" placeholder=" ">*@
                    @Html.EditorFor(i => i.OpeningDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Revison №:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(i => i.Revision, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => i.Revision)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Remarks:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(i => i.Remarks, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => i.Remarks)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Atlb Status:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(i => i.AtlbStatus, Html.GetEnumSelectList(typeof(AtlbStatus)), new { @class = "form-control" })
                </div>
            </div>
        </div>



        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
            <button type="submit"  class="btn btn-primary waves-effect waves-light ">Save changes</button>
        </div>

    </div>
}
