@using BusinessLayer
@using Kendo.Mvc.UI
@model BusinessLayer.Views.ATLBView

@using (Html.BeginForm("Create", "ATLB", FormMethod.Post))
{
    @Html.HiddenFor(i => i.Id);
    @Html.HiddenFor(i => i.IsDeleted);

    <div class="form-group row">
        <label class="col-sm-5 col-form-label">ATLB №:</label>
        <div class="col-sm-7">
            @Html.Kendo().TextBoxFor(i => i.ATLBNo)
            @Html.ValidationMessageFor(i => i.ATLBNo)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-5 col-form-label">Start Page №:</label>
        <div class="col-sm-7">
            @Html.Kendo().NumericTextBoxFor(i => i.StartPageNo)
            @Html.ValidationMessageFor(i => i.StartPageNo)
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-sm-5 col-form-label">Count flight on page:</label>
        <div class="col-sm-7">
            @Html.Kendo().NumericTextBoxFor(i => i.PageFlightCount)
            @Html.ValidationMessageFor(i => i.PageFlightCount)
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-sm-5 col-form-label">Opening date:</label>
        <div class="col-sm-7">
            @Html.Kendo().DateTimePickerFor(i => i.OpeningDate)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-5 col-form-label">Revison №:</label>
        <div class="col-sm-7">
            @Html.Kendo().TextBoxFor(i => i.Revision)
            @Html.ValidationMessageFor(i => i.Revision)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-5 col-form-label">Remarks:</label>
        <div class="col-sm-7">
            @Html.Kendo().TextBoxFor(i => i.Remarks)
            @Html.ValidationMessageFor(i => i.Remarks)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-5 col-form-label">Atlb Status:</label>
        <div class="col-sm-7">
            @Html.Kendo().DropDownListFor(i => i.AtlbStatus).BindTo(Enum.GetNames(typeof(AtlbStatus)))
        </div>
    </div>
    
        <div class="modal-footer">
            <button type="button" onclick="CloseModal('EditAtlb')"  class="btn btn-default waves-effect">Close</button>
            <button type="submit"  class="btn btn-primary waves-effect waves-light ">Save changes</button>
        </div>

    
}
